*{
	margin: 0;
	padding: 0;
	border: none;
}

#wrapper{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

header{
	margin-left: 10px;
	margin-left: 10px;
	width: 940px;
	background-color: #779307;
}

nav ul li{
	display: inline-block;
	width: 230px;
}

nav ul li a{
	text-decoration: none;
	color: white; 
	font-size: 20px;
}

#side{
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	background-color: #fe9c00;
	width: 220px;
}

article{
	margin-left: 10px;
	margin-right: 10px;
	float: left;
	width: 700px;
	background-color: #dedede;
}

footer{
	margin-left: 10px;
	margin-right: 10px;
	clear: both;
	width: 940px;
	background-color: #663300;
}